html {
    background-color: #ecf0f5;
}

.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.table-action{
    width: 140px;
}

.login-area{
    background-image: url("/assets/background_login.jpg");
    background-color: #5abe5a;
}