<div role="form">
    <div class="box-body">
        <field read-only="bcCtrl.tabDelete" model="bcCtrl.billingCycle.name" grid="12 6 4" label="Nome" id="name" placeholder="Informe o nome" type="text"></field>
        <field read-only="bcCtrl.tabDelete" model="bcCtrl.billingCycle.month" grid="12 6 4" label="Mês" id="month" placeholder="Informe o mês" type="number"></field>
        <field read-only="bcCtrl.tabDelete" model="bcCtrl.billingCycle.year" grid="12 6 4" label="Ano" id="year" placeholder="Informe o ano" type="number"></field>
        <div class="col-xs-12">
            <fieldset>
                <legend>Resumo</legend>
                <div ng-include="'billingCycles/summary.html'"></div>
            </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Créditos</legend>
                <div ng-include="'billingCycles/creditList.html'"></div>
            </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Debitos</legend>
                <div ng-include="'billingCycles/debtList.html'"></div>
            </fieldset>
        </div>
    </div>
    <div class="box-footer">
        <button ng-show="bcCtrl.tabCreate" class="btn btn-primary" ng-click="bcCtrl.create()">Incluir</button>
        <button ng-show="bcCtrl.tabUpdate" ng-click="bcCtrl.update()" class="btn btn-info">Alterar</button>
        <button ng-show="bcCtrl.tabDelete" ng-click="bcCtrl.delete()" class="btn btn-danger">Deletar</button>
        <button ng-click="bcCtrl.refresh()" class="btn btn-default">Cancelar</button>
    </div>
</div>